[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = https://github.com/themefisher/liva-hugo.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
